<nav class="navbar navbar-expand-lg bg-black fixed-top" data-bs-theme="dark">
    <div class="collapse navbar-collapse" id="navbarColor01">
        <img class="object-fit-contain border-0 rounded" src="assets/logo.jpg" alt="Card image cap"
                    width="5%" height="5%">
      <a class="navbar-brand mx-auto" href="#" style="font-family: 'Pacifico', cursive;"><i>Blossom Heaven</i></a>
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-white me-3" routerLink="about">About Us</a>
          </li>
        <li class="nav-item">
          <a class="nav-link text-white me-3" routerLink="cart">
            <i class="fas fa-shopping-cart"></i>
            <span *ngIf="cartItemCount > 0" class="badge rounded-pill bg-danger">{{ cartItemCount }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white me-5" routerLink="login" *ngIf="!isLoggedIn">LOGIN</a>
        <a class="nav-link text-white me-5"  *ngIf="isLoggedIn" (click)="logout()">LOGOUT</a>
        </li>
      </ul>
    </div>
  </nav>
  <a class="home" routerLink="home"></a>