<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <!-- <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div> -->
      <!-- Left -->
  
      <!-- Right -->
    
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Blossom Heaven
            </h6>
            <p>
              At Blossom Heaven, we accept various payment methods and strive to provide fresh, high-quality flowers.
              Customers agree to these terms upon making a purchase, ensuring a seamless and satisfactory floral shopping experience.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="birthday" class="text-reset" >Birthday flowers</a>
            </p>
            <p>
              <a href="wedding-flowers" class="text-reset">Wedding Flowers</a>
            </p>
            <p>
              <a href="aniversary" class="text-reset">Anniversary flowers</a>
            </p>
            <p>
              <a href="gift-hamper" class="text-reset">gift Hampers</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="about" class="text-reset" >About</a>
            </p>
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i>blossomheaven.com</p>
            <!-- <p>
              <i class="fas fa-envelope me-3">blossomheavengmail.com</i>
              
            </p> -->
            <p><i class="fas fa-phone me-3"></i>7780145722</p>
           <a href='mailto:pothkanooriaishwarya@gmail.com'> <p><i class="fas fa-envelope me-3"></i>pothkanooriaishwarya1212&#64;gmail.com</p></a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="http://localhost:4200/home">BlossomHeaven.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
